[advisories]
ignore = []


[bans]
multiple-versions = "warn"
wildcards = "allow"

[licenses]

allow = [
    "MIT",
    "Apache-2.0",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "MPL-2.0",
    "BSD-3-Clause",
    "BSD-2-Clause",
    "ISC",
    "Zlib",
    "CC0-1.0",
    "Unlicense",
    "BSL-1.0",
    "OpenSSL",
]
confidence-threshold = 0.8

[sources]
unknown-registry = "deny"
unknown-git = "deny"
